{% extends "layout.html" %}
{% block title %}
    Home Page 😺
{% endblock %}
{% block links %}
<link rel="stylesheet" href="{{ url_for('static', path='/index.css') }}">
{% endblock %}
{% block content %}
<div class="content">
    <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="ImageFile">Image</label>
            <input name="image" type="file" class="form-control" id="ImageFile" aria-describedby="emailHelp" placeholder="Image">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}