{% extends "layout.html" %}
{% block title %}
    Home Page 😺
{% endblock %}

{% block content %}
<div class="main-container">
    <div class="form">
        <h1 class="heading">Compress</h1>
        <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
            <div class="form-element">
                <label for="file">Upload an image file you want to compress!</label>
                <input id="file" name="image"  type="file" accept="image/jpg, image/jpeg, image/png ">
            </div>
            <button type="submit">Compress</button>
        </form>
    </div>
</div>

{% endblock %}